<html>
    <head>
        <script src="javascript/global.js"></script>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
    </head>
    <body>
        <div id="content">
            <h2>SORTWORLD</h2>
            <h2>MAIN MENU</h2>
            <p>
                Hello {{username}}!
            </p>
            <p>
                Score: (Put something here)
            </p>
            <p>
                <button onclick="window.open('game', '_blank');">Enter World</button>
            </p>
            <p>
                <a href="leaderBoard">Leader Board</a>
            </p>
            <p>
                <a href="changePassword">Change Password</a>
            </p>
            <p>
                <button onclick="window.location='logoutAction';">Log Out</button>
            </p>
        </div>
    </body>
</html>


